{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock fos_user_content %}



{% block snippet %}

{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function () {
            $(".breadcrumb").remove();
            $(".main-center").css( "max-width", "400px");
        });
    </script>
{% endblock %}