{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
   
    <p>Good news, <b>{{user.fullname}}</b>, your account is now activated.</p>
    {% if app.session is not empty %}

        <p><a href="{{ path('homepage') }}">Now you can return to main page</a></p>

    {% endif %}

{% endblock fos_user_content %}


{% block snippet %}

{% endblock %}

{% block style %}
            .main-center{
                max-width: 400px
            }
{% endblock %}

{% block javascripts %}
{% endblock %}